<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Trainingsreport</title>
    <!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css"> -->
    <link rel="stylesheet" href="bootstrap.css">
    <style type="text/css">
        body {
            padding: 20px;
        }

        table.table {
            width: auto;
        }

        tr td,
        tr th {
            text-align: right;
        }

        tr td:first-child,
        tr th:first-child {
            text-align: left;
        }
    </style>
</head>

<body>
    <h1>{{title}}</h1>
    {{#infoToggle}}
    <button class="btn btn-secondary toggleInfo">{{.}}</button>
    {{/infoToggle}}
    {{#segments}}
    {{&getHtml}}
    {{/segments}}
    <script type="text/javascript" src="jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="report.js"></script>
</body>

</html>